.type-card {
  height: 350px;
}

.type-card-img {
  height: 80%;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #d8d7d7;
}
.type-card-title {
  font-weight: 600;
}
.type-card-desc {
  font-weight: 300;
}
.filter {
  margin: 0 10px;
  border-radius: 10px;
  height: 30px;
  width: 150px;
}

.product {
  height: 550px;
  width: 100%;
}
.product-above {
  height: 80%;
  position: relative;
}
.product-img {
  height: 100%;
  border-radius: 10px;
  width: 100%;
}
.size-option {
  display: none;
  position: absolute;
  bottom: 0;
  color: black;
  width: 100%;
}
.size-option-child {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}
.size-option-link {
  display: block;
  text-decoration: none;
  background-color: #fff;
  margin: 0 10px;
  color: #000;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.product-above {
  cursor: pointer;
}
.product-above:hover .size-option {
  display: block;
}
.product-bottom-title {
  font-size: 16px;
}

.product-bottom-size {
  font-weight: 300;
}

.product-bottom-price {
  font-size: 18px;
}
.product-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  background-color: #009739;
  border-radius: 10px;
  color: white;
  padding: 3px;
}
